.Posts {
    z-index: 0;
    /*margin-left: 325px;*/
    padding-left: 325px;

    height: 100%;
}

.Posts a {
    text-decoration: none;
    color: black;
    z-index: 0;
}

.inf {
    padding: 5px;
    height: 500px;
}

.inf::-webkit-scrollbar {
    display: none;
}


