.form {
    position: relative;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 720px;
    height: 690px;
    background: #ffffff;
    align-content: center;
    margin: 15px auto auto;
}

.form h3 {
    margin-left: 87px;
}

.in-form {
    /*position: relative;*/
    /*align-content: center;*/
    /*margin: 15px auto auto;*/
}

.input {
    width: 545px;
    height: 32px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 87px;
    margin-top: 10px;
}

.text {
    width: 545px;
    height: 345px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 87px;
    margin-top: 25px;
}

.s-type {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 87px;
    margin-top: 25px;
    width: 80px;
    height: 32px;
}

.s-kat {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 25px;
    width: 174px;
    height: 32px;
}

.s-hard {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 25px;
    width: 90px;
    height: 32px;
}

.s-time{
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 25px;
    width: 140px;
    height: 32px;
}

.s-btn {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-left: 273px;
    margin-top: 47px;
    width: 174px;
    height: 42px;

}