.create-post {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10px 40px 20px 100px;
    width: 255px;
    height: 150px;
    background-color: #fff;
}

.btn {
    display: flex;
    margin-top: 85px;
    margin-left: 12px;

    width: 207px;
    height: 33px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}

.icon {
    margin: 6px 5px 5px 20px;
}

.btn-text {
    margin: 6px 0px 0px 5px;
    padding-left: 10px;
}

.top-img {
    position: absolute;
    z-index: 1;
    margin-left: -11px;
    margin-top: -11px;
}

.logo-img {
    position: absolute;
    z-index: 2;
    margin-left: 10px;
}